@font-face {
  font-family: ProximaNova;
  src: url(./fonts/ProximaNovaRegular.otf);
}
* {
  font-family: ProximaNova, Helvetica, sans-serif;
}
h1,h2,h3 {
  font-family: ProximaNova, Helvetica, sans-serif;
}

.not-authed_layout{
  margin-top: 150px;
}
.ui.error.message {
  font-family: Helvetica, sans-serif;
}
.media-info {
  margin-top: 5px;
}
.media-tags-container {
  margin-right: 20px;
}
.add-tag{
  margin-top: 5px;
}
.file-image {
  width: 60%;
}
.tags{
  margin-top: 5px;
}
.ui.pagination.menu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.delete_file {
  position: relative;
  left: 5px;
}
.file__path{
  display: none;
}
.search_bar{
  margin-top: 5px;
}
.tags_modal_container{
  margin-top: 10px;
  text-align: center;
}
.new_tag_input_container{
  text-align: center;
}